[Unit]
Description=md2weixin API service
After=network.target

[Service]
Type=simple
User=__RUN_USER__
Group=__RUN_GROUP__
WorkingDirectory=__WORKING_DIRECTORY__
ExecStart=/usr/bin/env node -r module-alias/register ./dist --env=production
Restart=always
RestartSec=3
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
